<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="0; url=/documents/resume.pdf">
    <script type="text/javascript">
        window.location.href = "/documents/resume.pdf"
    </script>
    <title>Redirecting...</title>
</head>
<body>
    If you are not redirected, <a href="/documents/resume.pdf">click here</a>.
</body>
</html>