@tailwind base;
@tailwind components;
@tailwind utilities;

/* If you want to keep the Inter font */
@layer base {
  html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}